{% extends 'base.html.twig' %}

{% block body %}
<div> Работает </div>

    {% if app.user %}
        <div class="main_box">
            Ты с нами  {{ app.user.username }}, <a href="{{ path('app_logout') }}">Выход</a>
    {% endif %}
      <table class="table">
          <thead>
          <tr>
              <th>Id</th>
              <th>Message</th>
              <th>User_name</th>
              <th>actions</th>
          </tr>
          </thead>
          <tbody>
          {% for message in messages %}
              <tr>
                  <td>{{ message.id }}</td>
                  <td>{{ message.message }}</td>
                  <td>{{ message.userName }}</td>
                  <td>
                      <a href="{{ path('messages_show', {'id': message.id}) }}">show</a>
                      <a href="{{ path('messages_edit', {'id': message.id}) }}">edit</a>
                  </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="4">no records found</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>

    </div>
{% endblock %}